# ignore everything but app-folder
lib/
plugins/
vendors/
.git/
index.php
README
.htaccess
!.gitignore

# Ignoring default cake-files
app/tmp/cache/models/*
app/tmp/cache/persistent/*
app/tmp/cache/views/*
app/tmp/logs/*
app/tmp/sessions/*
app/tmp/tests/*
app/tmp/*
app/Config/database.php
/lib/Cake/Console/Templates/skel/tmp/
tags

# Ignore local dev, project and system files
.DS_Store
!empty
nbproject/*
*.*~